In [29]:
import pandas as pd
import numpy as np
import os

In [30]:
# Download NFT's data  
# More information: https://docs.nftport.xyz/docs/nftport/b3A6MjAzNDUzNTI-retrieve-all-nf-ts

import requests

url = "https://api.nftport.xyz/v0/transactions"

querystring = {"chain":"ethereum","type":"sale"}

headers = {
    "Content-Type": "application/json",
    "Authorization": os.environ.get("KEY_API")
}

# get the first page
response = requests.request("GET", url, headers=headers, params=querystring)

# print(response.json())

In [31]:
def convert_to_df(nft_data : dict) -> pd.DataFrame:
    df_data_nft = pd.DataFrame(nft_data.get('nft'), index=[nft_data.get('nft')['token_id']])
    df_data_price_datails = pd.DataFrame(nft_data.get('price_details'), index=[nft_data.get('nft')['token_id']])
    df_data = pd.merge(df_data_nft, df_data_price_datails, left_index=True, right_index=True)
    features = ['marketplace', 'transaction_date']
    d_features = {}
    for feature in features:
        d_features[feature] = nft_data.get(feature)
    df_data = pd.merge(df_data, pd.DataFrame(d_features, index=[nft_data.get('nft')['token_id']]), left_index=True, right_index=True)
    return df_data


# a function adds new values from transaction data to the dataset
def get_df_from_transaction_data(df_nfts : pd.DataFrame, response : requests.models.Response) -> pd.DataFrame:
    for transaction in response.json()['transactions']:
        df_nfts = pd.concat([df_nfts, convert_to_df(transaction)], ignore_index=True)
    return df_nfts

In [32]:
transaction_features = ['contract_type', 'contract_address', 'token_id', 'asset_type', 'price', 'price_usd', 'marketplace', 'transaction_date']
df_nfts_transaction = get_df_from_transaction_data(pd.DataFrame(columns=transaction_features), response)
df_nfts_transaction.head()

,contract_type,contract_address,token_id,asset_type,price,price_usd,marketplace,transaction_date,contract_address_x,contract_address_y
0,ERC721,0x710c6f24955d70b1ec188bba986a83e2d3a49d38,690,ETH,0.02000,37.967827,opensea,2022-08-17T03:08:05,NaN,NaN
1,ERC721,0x4ad3785ec7eed7589fa86538244a4530f962434f,4476,ETH,0.07100,134.785787,opensea,2022-08-17T03:08:05,NaN,NaN
2,ERC721,0x8ea2161468b6615888f1bffe21788f88202ef848,9318,ETH,0.00780,14.807453,opensea,2022-08-17T03:08:05,NaN,NaN
3,ERC721,0x83f4aa8f9ef2e44ac8a6d44762ebc4d7f01f0d5e,922,ETH,0.00280,5.315496,opensea,2022-08-17T03:08:05,NaN,NaN
4,ERC721,0xdcb1cdfe2b5f592e7bdc2696b7a68c6e866c4cc2,1727,ETH,0.01000,18.983914,opensea,2022-08-17T03:08:05,NaN,NaN
5,ERC721,0x01a6fa5769b13302e82f1385e18baef7e913d0a7,103,ETH,0.00500,9.491957,opensea,2022-08-17T03:08:05,NaN,NaN
6,ERC721,0x111508edbeb2e906a40fd92e8b4cfaffc606c6dd,1116,ETH,0.01369,25.988978,opensea,2022-08-17T03:08:05,NaN,NaN
7,ERC721,NaN,9014,ERC20,0.35000,664.949316,opensea,2022-08-17T03:08:05,0xdfb22066b609da04eddd6bda885b18d0b2153150,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
8,ERC721,0x615db11cd58b40edc9c15529b7820cc1f59b7056,551,ETH,0.00750,14.237935,opensea,2022-08-17T03:08:05,NaN,NaN
9,ERC721,0x111508edbeb2e906a40fd92e8b4cfaffc606c6dd,1870,ETH,0.01600,30.374262,opensea,2022-08-17T03:08:05,NaN,NaN
10,ERC721,0x7ab062f22b119cd97fb6dbcc99782724dd4a9c81,818,ETH,0.01380,26.197801,opensea,2022-08-17T03:08:05,NaN,NaN
11,ERC721,0xfe4e4652813ea5f70a4876cbc0ebbc510d660615,227,ETH,0.00389,7.384742,opensea,2022-08-17T03:08:05,NaN,NaN
12,ERC721,0xc5b52253f5225835cc81c52cdb3d6a22bc3b0c93,204,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:05,NaN,NaN
13,ERC721,0xcb2411c2b914b000ad13c86027222a797983ef2d,4373,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:05,NaN,NaN
14,ERC721,0x1a2f71468f656e97c2f86541e57189f59951efe7,4854,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:05,NaN,NaN
15,ERC721,0x1a2f71468f656e97c2f86541e57189f59951efe7,4854,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:05,NaN,NaN
16,ERC721,0x1a2f71468f656e97c2f86541e57189f59951efe7,4854,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:05,NaN,NaN
17,ERC721,0x529574d1affef7cf347cdd02b91efd2c00bb773b,671,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:39,NaN,NaN
18,ERC721,0x209e639a0ec166ac7a1a4ba41968fa967db30221,7973,ETH,0.00000,0.000000,opensea,2022-08-17T03:08:39,NaN,NaN
19,ERC721,NaN,2684,ERC20,0.03000,56.995656,opensea,2022-08-17T03:08:39,0xbcd1a163dee3ac31342eb6626f28e45d637dd091,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
20,ERC721,NaN,63,ERC20,0.01200,22.798262,opensea,2022-08-17T03:08:39,0x7ab062f22b119cd97fb6dbcc99782724dd4a9c81,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
21,ERC721,0xdfe3ac769b2d8e382cb86143e0b0b497e1ed5447,2401,ETH,0.12300,233.502139,opensea,2022-08-17T03:08:39,NaN,NaN
22,ERC721,0x892cc48335db97e7d4b3b6929086459b9a06931c,9094,ETH,0.01830,34.740562,opensea,2022-08-17T03:08:39,NaN,NaN
23,ERC721,0xc5b52253f5225835cc81c52cdb3d6a22bc3b0c93,6666,ETH,0.69900,1326.975568,opensea,2022-08-17T03:08:39,NaN,NaN
24,ERC721,0xa4bcd3b7f141ba1f08f36033fdfce691565561bc,9216,ETH,0.03990,75.745816,opensea,2022-08-17T03:08:39,NaN,NaN
25,ERC721,0x86c35fa9665002c08801805280ff6a077b23c98a,4146,ETH,0.08800,167.058441,opensea,2022-08-17T03:08:39,NaN,NaN
26,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,4990,ETH,0.00800,15.187131,opensea,2022-08-17T03:08:39,NaN,NaN
27,ERC721,0x209e639a0ec166ac7a1a4ba41968fa967db30221,4507,ETH,0.05500,104.411525,opensea,2022-08-17T03:08:39,NaN,NaN
28,ERC721,0x7ab062f22b119cd97fb6dbcc99782724dd4a9c81,587,ETH,0.01950,37.018632,opensea,2022-08-17T03:08:39,NaN,NaN
29,ERC1155,0xa604060890923ff400e8c6f5290461a83aedacec,6347134867663868884613136439542390342707334045...,ETH,0.00000,0.000000,opensea,2022-08-17T03:09:08,NaN,NaN
30,ERC721,0x252c4b998fc3b3dd6e13f6868477f37a855f9e6e,2601,ETH,0.00000,0.000000,opensea,2022-08-17T03:09:08,NaN,NaN
31,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,3489,ETH,0.00500,9.491957,opensea,2022-08-17T03:09:08,NaN,NaN
32,ERC721,0x209e639a0ec166ac7a1a4ba41968fa967db30221,7398,ETH,0.04490,85.237773,opensea,2022-08-17T03:09:08,NaN,NaN
33,ERC721,0xfe4e4652813ea5f70a4876cbc0ebbc510d660615,660,ETH,0.00389,7.384742,opensea,2022-08-17T03:09:08,NaN,NaN
34,ERC721,0xf47b9dc6b6381384bdc42d905422e53267346da6,16657,ETH,0.00080,1.518713,opensea,2022-08-17T03:09:08,NaN,NaN
35,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,1623,ETH,0.00600,11.390348,opensea,2022-08-17T03:09:08,NaN,NaN
36,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,4100,ETH,0.00800,15.187131,opensea,2022-08-17T03:09:08,NaN,NaN
37,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,4991,ETH,0.00700,13.288740,opensea,2022-08-17T03:09:08,NaN,NaN
38,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,3484,ETH,0.00800,15.187131,opensea,2022-08-17T03:09:08,NaN,NaN
39,ERC721,0x8442dd3e5529063b43c69212d64d5ad67b726ea6,6828,ETH,0.20000,379.678274,opensea,2022-08-17T03:09:08,NaN,NaN
40,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,1021,ETH,0.00700,13.288740,opensea,2022-08-17T03:09:08,NaN,NaN
41,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,2276,ETH,0.00740,14.048096,opensea,2022-08-17T03:09:08,NaN,NaN
42,ERC721,0xe47e5dcde8e14e874d2711e786bb34ae6980bef8,211,ETH,0.50000,949.195686,opensea,2022-08-17T03:09:25,NaN,NaN
43,ERC721,0x8b8d1225bb21ca07812ff3c2ee9358f7b5d90eca,209,ETH,0.30000,569.517411,opensea,2022-08-17T03:09:25,NaN,NaN
44,ERC721,0x3bf42951001bb7cb3cc303068fe87debf696ee3d,2015,ETH,0.18900,358.795969,opensea,2022-08-17T03:09:25,NaN,NaN
45,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,5344,ETH,0.00500,9.491957,opensea,2022-08-17T03:09:29,NaN,NaN
46,ERC721,0xa4bcd3b7f141ba1f08f36033fdfce691565561bc,1156,ETH,0.03950,74.986459,opensea,2022-08-17T03:09:29,NaN,NaN
47,ERC721,0x7ab062f22b119cd97fb6dbcc99782724dd4a9c81,51,ETH,0.01600,30.374262,opensea,2022-08-17T03:09:29,NaN,NaN
48,ERC721,0x209e639a0ec166ac7a1a4ba41968fa967db30221,619,ETH,0.05000,94.919569,opensea,2022-08-17T03:09:29,NaN,NaN
49,ERC721,0x17be11cfef8262d6b37e77e66b2df26f39acc6df,2281,ETH,0.00640,12.149705,opensea,2022-08-17T03:09:29,NaN,NaN

In [33]:
# a funtction adds new values from metadata to the dataset
def add_nfts(df_nfts: pd.DataFrame, response: requests.models.Response) -> pd.DataFrame:
    nft = response.json().get('nft')
    if nft == None:
        return df_nfts
    row = np.array([nft.get(el) for el in df_nfts.keys()])
    df_nfts = pd.concat([df_nfts, pd.DataFrame([row], columns = df_nfts.keys())], ignore_index=True)
    return df_nfts


def get_attributes(sr_attributes: pd.Series, response: requests.models.Response) -> pd.Series:
    nft = response.json().get('nft')
    if nft == None or nft.get('metadata') == None:
        return sr_attributes
    sr_attributes = pd.concat(
        [sr_attributes, 
        pd.Series(  
            [nft.get('metadata').get('attributes')], 
            name='attributes',
            index=[nft.get('token_id')])
        ])
    return sr_attributes

In [34]:
import time
features = ['token_id', 'chain', 'contract_address']
df_nfts_contract = pd.DataFrame(columns = features)
sr_attributes = pd.Series(dtype='object', name='attributes')
for irow in df_nfts_transaction.index:
    contract = df_nfts_transaction['contract_address'][irow]
    token = df_nfts_transaction['token_id'][irow]
    url = f"https://api.nftport.xyz/v0/nfts/{contract}/{token}"
    time.sleep(0.1)
    querystring = {"chain":"ethereum"}

    headers = {
        "Content-Type": "application/json",
        "Authorization": os.environ.get("KEY_API")
    }

    response = requests.request("GET", url, headers=headers, params=querystring)
    df_nfts_contract = add_nfts(df_nfts_contract, response)
    sr_attributes = get_attributes(sr_attributes, response)

In [38]:
df_nfts_contract.head()

  token_id     chain                            contract_address
0      690  ethereum  0x710c6f24955d70b1ec188bba986a83e2d3a49d38
1     4476  ethereum  0x4ad3785ec7eed7589fa86538244a4530f962434f
2     9318  ethereum  0x8ea2161468b6615888f1bffe21788f88202ef848
3      922  ethereum  0x83f4aa8f9ef2e44ac8a6d44762ebc4d7f01f0d5e
4     1727  ethereum  0xdcb1cdfe2b5f592e7bdc2696b7a68c6e866c4cc2

In [39]:
df_nfts_transaction_1 = df_nfts_transaction.drop(['contract_address_x', 'contract_address_y'], axis=1)
df_nfts_contract_1 = df_nfts_contract.drop(['contract_address'], axis=1)
df_nfts_contract_1.head()

  token_id     chain
0      690  ethereum
1     4476  ethereum
2     9318  ethereum
3      922  ethereum
4     1727  ethereum

In [40]:
df_nfts_contract_1 = pd.merge(df_nfts_contract_1, sr_attributes, left_on=['token_id'], right_index=True)
df_final = pd.merge(df_nfts_transaction_1, df_nfts_contract_1, left_on=['token_id'], right_on=['token_id'], how='inner')
df_final.head()

,contract_type,contract_address,token_id,asset_type,price,price_usd,marketplace,transaction_date,chain,attributes
0,ERC721,0x710c6f24955d70b1ec188bba986a83e2d3a49d38,690,ETH,0.0200,37.967827,opensea,2022-08-17T03:08:05,ethereum,"[{'trait_type': 'Background', 'value': 'Squigg..."
1,ERC721,0x4ad3785ec7eed7589fa86538244a4530f962434f,4476,ETH,0.0710,134.785787,opensea,2022-08-17T03:08:05,ethereum,"[{'trait_type': 'Version', 'value': 'Genesis'}..."
2,ERC721,0x8ea2161468b6615888f1bffe21788f88202ef848,9318,ETH,0.0078,14.807453,opensea,2022-08-17T03:08:05,ethereum,"[{'trait_type': 'Background', 'value': 'Theta ..."
3,ERC721,0x83f4aa8f9ef2e44ac8a6d44762ebc4d7f01f0d5e,922,ETH,0.0028,5.315496,opensea,2022-08-17T03:08:05,ethereum,"[{'trait_type': 'Backgrounds', 'value': 'DarkB..."
4,ERC721,0xdcb1cdfe2b5f592e7bdc2696b7a68c6e866c4cc2,1727,ETH,0.0100,18.983914,opensea,2022-08-17T03:08:05,ethereum,"[{'trait_type': 'Body', 'value': 'Fungus Green..."

In [41]:
# df_final.to_csv('Dataset_0.1.csv', index=False)